<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body style="margin: 0; padding: 24px 0; background-color: #F0F0F0; font-family: Verdana, Arial, Helvetica, sans-serif;  ">
    <article style="background-color: #fff;  border: 1px solid #BABABA;   padding: 0;  margin: 0 auto; border-radius: 10px; display: flex; flex-direction: column; max-width: 530px;">
        <header style="background-color: #2FC9FC; border-radius: 10px 10px 0 0; display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; box-shadow: 0 2px 2px 0 rgba(0,0,0, 0.25);">
            <div style="padding: 16px 0 16px 16px;">
                <a href="https://2byourself.jeckson.me" target="_blank"  >
                    <img alt="logo" width="150px" height="34px"   src="http://localhost:8010/common/img/logo_transparent.png" />
                </a>                        
            </div>
            <div style="display: flex; flex-direction: row;">
                <img alt="arrow" width="10px" height="72px"  src="http://localhost:8010/common/img/arrow-email.png"  />
                <div style="background-color: #0081AC; border-radius: 0 10px 0 0; padding: 16px; display: flex; flex-direction: column; color: #fff; align-items: center; justify-content: center;">
                    <label style="font-size: 12px;" >ORDER NUMBER</label>
                    <label style="font-weight: bold; font-size: 14px; margin-top: 8px;">110000021</label>
                </div>
            </div>
            
        </header>
        <section style="padding: 24px;">
            <p style="margin: 0; padding: 0; font-size: 18px; color: #707070;">Hi, Jeckson. How are you?</p>
            <br/>
            <p style="margin: 0; padding: 0; font-size: 16px; font-weight: bold; ">Your order was received successfully!</p>
            <br/>
            <p style="margin: 0; padding: 0; font-size: 14px; color: #333333; line-height: 20px; ">We are waiting the payment confirmation, and then we will start the preparation to deliver your purchase. But don’t worry, we will notify you on every step until the delivery.</p>
            <br/>
            <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;">
                <div style="margin-right: 16px; margin-bottom: 16px;">
                    <label>Delivery date:</label>
                    <label>01/01/2022</label>
                </div>
                <a href="http://localhost:8011/orders/1000177" target="_blank"  style="text-decoration: none; font-size: 14px; padding: 8px 24px; background-color: #2FC9FC; color: #fff; border-radius: 6px; white-space: nowrap; display: flex; align-items: center; justify-content: center;">Follow my order</a>
            </div>            
        </section>
        <section style="background-color: #E6E6E6; padding: 24px; display: flex; flex-direction: column; ">
            <label style="margin: 0; padding: 0; font-size: 16px; color: #505050; ">Your order</label>
            <div style="background-color: #fff; border-radius: 6px; color: #333333; margin-top: 16px;  ">
                <div style="padding: 16px; border-bottom: 1px solid #BABABA;">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <label style="font-size: 14px; " >Payment Method:</label>
                        <label style="font-size: 14px;">PayPal</label>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 16px;">
                        <label style="font-size: 14px; " >Total value:</label>
                        <label style="font-size: 14px; font-weight: bold;">$213.65</label>
                    </div>
                </div>
                <div style="padding: 16px;  display: flex; flex-direction: row; box-sizing: border-box; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap; ">
                    <label style="color: #707070; margin: 0 16px 16px 0;">Items</label>
                    <ul style="margin: 0; display: flex; flex-direction: column;  flex: 1; align-items: flex-start; margin-block: 0; padding-inline: 0;">                        
                        <li style="margin: 0; padding: 8px 16px; width: 100%;  list-style-type: none; display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-start; box-sizing: border-box; border-bottom: 1px solid #E6E6E6; min-width: 260px;">
                            <img src="http://localhost:8010/products/img/small/2.webp"  style="margin: 0;" alt="product" width="60px" /> 
                            <div style="display: flex; flex-direction: column; font-size: 12px; color: #333333; line-height: 20px; margin-left: 16px;">
                                <label style="font-size: 12px; font-weight: bold; color: #707070;">The Knight</label>
                                <labe l>Purple Polo Shirt The Knight</label>
                                <div>
                                    <div>
                                        <label>Size:</label>
                                        <label>S</label>
                                    </div>
                                    <div>
                                        <label>Quantity:</label>
                                        <label>1</label>
                                    </div>
                                </div>
                                <div>
                                    <label>Price:</label>
                                    <label>USD 25.00</label>
                                </div>
                                <label style="font-weight: bold; line-height: 32px;">USD 25.00</label>
                            </div>
                        </li>                        
                        <li style="margin: 0; padding: 8px 16px; width: 100%;  list-style-type: none; display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-start; box-sizing: border-box; border-bottom: 1px solid #E6E6E6; min-width: 260px">
                            <img src="http://localhost:8010/products/img/small/4.webp"  style="margin: 0;" alt="product" width="60px" /> 
                            <div style="display: flex; flex-direction: column; font-size: 12px; color: #333333; line-height: 20px; margin-left: 16px;">
                                <label style="font-size: 12px; font-weight: bold; color: #707070;">The Knight</label>
                                <labe l>Purple Polo Shirt The Knight</label>
                                <div>
                                    <div>
                                        <label>Size:</label>
                                        <label>S</label>
                                    </div>
                                    <div>
                                        <label>Quantity:</label>
                                        <label>1</label>
                                    </div>
                                </div>
                                <div>
                                    <label>Price:</label>
                                    <label>USD 25.00</label>
                                </div>
                                <label style="font-weight: bold; line-height: 32px;">USD 25.00</label>
                            </div>
                        </li>     
                        <li style="margin: 0; padding: 8px 16px; width: 100%;  list-style-type: none; display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-start; box-sizing: border-box; border-bottom: 1px solid #E6E6E6; min-width: 260px">
                            <img src="http://localhost:8010/products/img/small/3.webp"  style="margin: 0;" alt="product" width="60px" /> 
                            <div style="display: flex; flex-direction: column; font-size: 12px; color: #333333; line-height: 20px; margin-left: 16px;">
                                <label style="font-size: 12px; font-weight: bold; color: #707070;">The Knight</label>
                                <labe l>Purple Polo Shirt The Knight</label>
                                <div>
                                    <div>
                                        <label>Size:</label>
                                        <label>S</label>
                                    </div>
                                    <div>
                                        <label>Quantity:</label>
                                        <label>1</label>
                                    </div>
                                </div>
                                <div>
                                    <label>Price:</label>
                                    <label>USD 25.00</label>
                                </div>
                                <label style="font-weight: bold; line-height: 32px;">USD 25.00</label>
                            </div>
                        </li>                                                     
                    </ul>                    
                </div>
            </div>
        </section>
        <section style="border-radius: 0 0 10px 10px; background-color: #707070; color: #fff; padding: 24px; display: flex; flex-direction: column; align-items: center; line-height: 20px;">
            <a href="https://2byourself.jeckson.me"  style="text-decoration: none; color: #fff; margin-bottom: 16px; font-size: 16px; font-weight: bold;" target="_blank">2BYourself - You From Your Way</a>            
            <label  style="text-decoration: none; color: #fff; font-size: 12px;   " >Developed by Jéckson Schwengber</label>
            <a href="https://jeckson.me"  style="text-decoration: none; color: #fff; font-size: 12px; font-weight: bold;" target="_blank">jeckson.me</a>
            
        </section>

    </article>
    
</body>
</html>