
button.btn-social-google{
   width: 100%;
   box-shadow: 0 2px 2px 1px #70707064;
   border: 0;
   border-radius: 6px;
   background-color: #fff;
   padding: 0.5rem 1.5rem;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   align-items: center;
   column-gap: 0.5rem;
   justify-content: center;   
   min-height: 2.5rem;
}

button.btn-social-google:active{
   position: relative;
   top: 2px;
   left: 2px;
}

button.btn-social-google{
   color: #707070;
}

button.btn-social-google:hover{
   background-color: #fafafa;
}

input.input-error{
   box-shadow: 0 0 2px 2px rgb(255, 108, 108);
}

p.form-error,
label.form-error{
   color: rgb(255, 108, 108);
   font-size: 0.875rem;
}


div.container-img-cart-item{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 72px;   
   height: 72px;
}


div.av-select__control--is-focused,
div.av-select-error__control--is-focused{
   box-shadow: none;        
   border-color: #ebebeb;    
}

div.av-select__control,
div.av-select-error__control{
   border: 1px solid #ebebeb;
   border-radius: 0;    
   color: var(--prim-text);
   font-size: 0.75rem;    
}

div.css-qc6sy-singleValue{
   color: var(--prim-text);
}


div.av-select__control:hover,
div.av-select__control--is-focused:hover,
div.av-select-error__control:hover,
div.av-select-error__control--is-focused:hover{
   border: 1px solid #707070;    
}

div.av-select__control--is-focused,
div.av-select-error__control--is-focused{    
   border: 1px solid #707070;
}

div.av-select__option{   
   font-size: 0.75rem;
}

div.av-select__option--is-focused,
div.av-select-error__option--is-focused{
   background-color: #e0e0e0;
}

div.av-select__option--is-selected,
div.av-select-error__option--is-selected{
    background-color: #f0f0f0;
    color: #000;
}

div.av-select__menu{
   border-radius: 0 0 10px 10px;
   padding: 0 0 0.25rem;
   margin-top: -2px;
   box-shadow: 0 1px 3px 1px rgba(0, 0 ,0,0.25);
}



div.overlay-dialog{
   position: fixed;
   inset: 0px;
   background-color: rgb(56, 56, 56, 0.7);    
}


div.dialog-content{
   left: 50%;
   top: 50%;
   position: absolute;
   width: fit-content;        
   transform: translate(-50%, -50%);    
   outline: 0;
}
